anaconda-anon-usage==0.7.5
anaconda-auth==0.12.3
anthropic==0.76.0
backports.tarfile==1.2.0
brotlicffi==1.2.0.0
conda-anaconda-telemetry==0.3.0
conda-anaconda-tos==0.2.2
conda-content-trust==0.2.0
conda-libmamba-solver==25.11.0
ijson==3.4.0.post0
importlib-metadata==8.0.0
jaraco-classes==3.4.0
jaraco.collections==5.1.0
libcst==1.8.6
libmambapy==2.3.2
matplotlib==3.10.8
nltk==3.9.2
openai==2.15.0
pip-chill==1.0.3
pip-tools==7.5.3
pysocks==1.7.1
rank-bm25==0.2.2
ruamel-yaml-clib==0.2.14
sentence-transformers==5.2.0
socksio==1.0.0
swebench==4.1.0
tiktoken==0.12.0
typer-slim==0.20.0
